// footer
footer.footer.pb-5
    .container
        .row
            .col-md-3
                .copy  ©2021 tickertape.cc 
            .col-md-9
                h3.footer-title
                    | We collaborate with ambitious brands and people.
                    br
                    |  let’s build something great together.
                .row.mt-5
                    .col-md-4
                        h5 Start a conversation
                        ul.list-unstyled.p-0
                            li(class='#')
                                a(href='mailto:darren.dignam+mmdemo@gmail.com' target='_blank' data-bypass='') darren@
                                br

                    .col-md-4
                        h4 This template:
                        ul.list-unstyled.p-0
                            li(class='#')
                                a(href='https://sharebootstrap.com/trendy-looking-free-bootstrap-template/' target='_BLANK') https://sharebootstrap.com/
                                br
                    .col-md-4
                        h4 Quick links
                        ul.list-unstyled.p-0
                            li(class='#')
                                a(href='#') contact
                            li(class='#')
                                a(href='#') terms
                            li(class='#')
                                a(href='#') faq
                            li(class='#')
                                a(href='#') who we are
// /main content
// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='/vendor/jquery-easing/jquery.easing.min.js')
// Custom JavaScript for template
script(src='/js/custom.js')
