doctype html
html(lang='en')
	head
		//- Required meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

		title #{page_title}
		meta(name='description' content=page_description )
		if(page_keywords)
			meta(name='keywords' content=page_keywords )


		//- Bootstrap core CSS
		link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
		//- Fontaweome icons replacment
		link(rel='stylesheet' href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css')
		//- Theme styles for this template
		link(href='/css/style.css' rel='stylesheet')
		//- Your Custom styles for this template
		link(href='/css/custom.css' rel='stylesheet')
		link(href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' rel='stylesheet')

	body
		#preloader
			#loader


		include _nav_menu
	
		block content

		include _footer
		block footer 
