doctype html
html(lang='en')
    head
        style. 
            table, th, td{
                border-bottom: 1px solid #eee;
                border-right: 1px solid #eee;
            }
    body
        table
            tr
                th Data formatting 
                th link
            tr 
                td JSON 
                td 
                    a( href="/all-json") JSON
            tr 
                td Table 
                td
                    a(href="/all-table") Table
            tr
                td CSV 
                td 
                    a(href="/all-csv") CSV
            tr
                td CSV (Alternative link type)
                td 
                    a(href="javascript:window.open('/all-csv')") CSV