extends ../layout.pug

block content

	div(class='container')
		div(class='row')
			div(class='col-sm-12')
				div(class='panel panel-primary')
					div(class='panel-heading') Forgot password
						
					div(class='panel-body')
						div= response.message

						if response.error
							div(class="alert alert-danger")= response.error