extends ../layout.pug

block content

	div(class='container')
		div(class='row')
			div(class='col-sm-12')
				if error_message
					div(class="alert alert-danger")
						| <span class="glyphicon glyphicon-exclamation-sign"></span>
						= error_message
				if message
					div(class="alert alert-danger")
						| <span class="glyphicon glyphicon-exclamation-sign"></span>
						= message
				if (flash_info && flash_info.length > 0)
					div(class="alert alert-warning")
						| <span class="glyphicon glyphicon-exclamation-sign"></span>
						= flash_info
				if (flash_info2 && flash_info2.length > 0)
					div(class="alert alert-warning")
						| <span class="glyphicon glyphicon-exclamation-sign"></span>
						= flash_info2

	section.space-md.imageBG.bg-light(data-img="/img/home-bg-27.png")
		.container
			.row.h-100
				div.col-12
					h1.text-center Create an account
			.row
				div(class='col-md-7 col-sm-12')
					form(action='/account/register' method='post')
						div(class='form-group')
							label(for='username') username:
							input(class='form-control' name='username' id='username' placeholder='username' type='text' required)
						div(class='form-group')
							label(for='password') password:
							input(class='form-control' name='password' id='password' placeholder='password' type='password' required)
						div(class='form-group')
							label(for='email') email:
							input(class='form-control' name='email' id='email' placeholder='email' type='email' required)
						div(class='form-group')
							label(for='name') name:
							input(class='form-control' name='name' id='name' placeholder='name' type='text' required)
						div(class='form-group')
							label(for='surname') surname:
							input(class='form-control' name='surname' id='surname' placeholder='surname' type='text' required)

						div(class='form-group')
							button(type="submit" class="btn btn_100w btn-primary") Register

				div(class='col-md-5 col-sm-12')
					.image-block
						img.img-fluid(src='/img/taxi-6.png' alt='Awesome Image')



	div(class='container')
		div(class='row')
			div(class='col-sm-12')
				div(class='alert alert-success' style="margin-top:40px")
					div(class='panel-heading') Important information!
					div(class='panel-body')
						div(class='col-sm-12')
							p By creating an account and using this website you are agreeing to our <a href="/privacy">Terms of service</a>. This is just a test website! Have fun!
