extends ../layout.pug

block content

	div(class='container')
		div(class='row')
			div(class='col-sm-12')
				div(class='panel panel-primary')
					h1 Reset password
						
					div(class='panel-body')
						div(class='large_form')
							p Please choose a new password
							form(method='post')
								div(class='form-group')
									label(for='password') password:
									input(name='password' id='password' class="form-control" placeholder='enter new password' type='password' required)
								div(class='form-group')
									button(type='submit' class='btn btn-primary') Submit
	
					if messageRedirect!=''		
						div(class='panel-footer')
							p= messageRedirect